<% include ../views/partials/loggedInHeader %>

    <form action="/profile" method="POST">
        <h3>ENTER NAME OF ADMIN TO VIEW HIS/HER QUESTIONS</h3>
        <input type="text" name="adminname" placeholder="NAME">
        <button type="submit">SUBMIT</button>    
    </form>

<% include ../views/partials/footer %>